@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

body {
    background-image: url('/musicBG.jpg');
    background-size: cover;
    font-family: "Poppins", sans-serif;
}

h1 {
    font-weight: bold;
    font-size: 64px;
    color: white;
    text-align: center;
    margin-top: 70px;
    text-shadow: black 0 0 50px;
}

audio {
    margin: 0;
    width: 400px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: rebeccapurple;
}

#Next {
    width: 50px;
    color: black;
    border-radius: 2%;
}

#player-block {
    border-radius: 1%;
    background: lightgray;
    position: absolute;
    top: 200px;
    left: 700px;
    width: 600px;
    height: 300px;
    padding: 25px;
    border: solid 4px white;
}

#trackSelector {
    margin-top: 0;
    background: lightgray;
    border: solid 3px white;
}

#current-track {
    background: lightgray;
    text-align: center;
    height: 20px;
    border: solid 3px white;
}
